<!doctype html>
<title>fonty mcgoodtimes at ur srvc.</title>

<!-- 
     we dynamically insert the user's locale into
     the path to the CSS @font-face declaration:
-->
<link href="/<%= fontLocale %>/opensans-regular/fonts.css" rel="stylesheet">
<style>
  body { font-family: "Open Sans", 'sans-serif'; }
</style>
<body>
  <p>eye arr a fonted one.</p>
