<!doctype html>
<title>fonty mcgoodtimes at ur srvc.</title>
<link href="/<%= fontLocale %>/opensans-regular/fonts.css" rel="stylesheet">
<style>
  body { font-family: "Open Sans", 'sans-serif'; }
</style>
<body>
  <p>eye arr a fonted one.</p>
  <p style="font-family: 'Open Sans'">me too</p>
